* {
    background-color: #f9f6ee;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #28282B;
    border-radius: 10px;
  }

.map-container svg {
    width: 1350px;
    height: 850px;
    background-color: #28282B;
    margin: 25px 0;
  }