@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f6ee;
  font-family: "Montserrat", sans-serif;
}
/* Header */

li, a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #f9f6ee;
  text-decoration: none;
  background-color: #28282B;
}

header {
  display: flex;
  position: sticky;
  justify-content: space-around;
  align-items: center;
  top: 0;
  height: 100px;
  background-color: #28282B;
}

.nav-links {
  display: flex;
}

.nav-links li {
  display: inline-block;
}

.nav-links li a {
  transition: all 0.8 ease 0s;
  padding: 10px 10px;
  margin: 0;
}

.nav-links li a:hover {
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  background-color: rgba(249, 246, 238, 1);
  color: #28282B;
}

/* Hero */

.hero {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px 0 150px 0;
  gap: 100px;
}

.right-side img {
  width: 750px;
  height: 450px;
  border-radius: 10px;
  margin-right: 50px;
}

.left-side h1 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;

}

.left-side p {
  font-size: 16px;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.left-side h4 {
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
  max-width: 1000px;
  margin: 25px auto 10px auto;
  font-weight: 600;
}

/* Map */

.map-container svg {
  height: 650px;
  width: 1250px;
  background-color: #28282B;  
  }

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #28282B;
  gap: 10px;
  padding: 25px 0 15px 0;
  }

#info-box {
  position: relative;
  display: none;
  background-color: #28282B;
  color: #f9f6ee;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  right: 20px;
  width: 250px;
  height: auto;
  border: 1px solid #f9f6ee;
  border-radius: 5px;
}

#info-box strong,
#info-box b
{
  background: none;
  color: #f9f6ee;
}

#kort-over {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #f9f6ee;
  margin: 150px 0 0 0;
  padding-top: 25px;
  background-color: #28282B;
}

#info-box {
  margin-top: 50px
}

.country {
  fill: #27ae60;
}

.country:hover {
  fill: #c0392b;
}

.textbg {
  background-color: #28282B;
  height: 150px;
}

.kort-text {
  text-align: center;
  background-color: #28282B;
  border: #f9f6ee 2px solid;
  border-radius: 5px;
  padding: 15px;
  color: #f9f6ee;
  font-size: 16px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 100px;
}

/* Bar chart */

.tooltip {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  border: 2px solid #28282B;
  padding: 6px 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  pointer-events: none;
  display: none;
}

.yearselect {
  display: flex;
  justify-content: center;
  align-items: center;
}

#BarChart {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  margin: 100px 0 25px 0;
}

.bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 100px;
}

.bar-right {
  font-family: "Montserrat", sans-serif;
  max-width: 600px;
  border: #28282B 2px solid;
  border-radius: 5px;
  padding: 15px;
  font-size: 16px;
  color: #28282B;
}

/* line chart */

.linebg {
  background-color: #28282B;
}

.tooltip-line {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  background-color: #28282B;
  border: 2px solid #f9f6ee;
  padding: 6px 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  pointer-events: none;
  display: none;
  color: #f9f6ee;
}

.tooltip-line strong,
.tooltip-line p {
  background: none;
  color: #f9f6ee;
}

#LineChart {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  margin: 0 0 50px 0;
  background-color: #28282B;
  color: #f9f6ee;
  padding-top: 50px;
}

.line-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  padding-bottom: 50px;
  background-color: #28282B;
}

.line-text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #f9f6ee;
  max-width: 600px;
  border: #f9f6ee 2px solid;
  border-radius: 5px;
  padding: 15px;
  background-color: #28282B;
}

#chart {
  background-color: #28282B;
}

/* Tree map */

.tooltip-tree {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  color: #28282B;
  padding: 5px 10px;
  border: 2px #28282B solid;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.15);
  display: none;
}

.tooltip-tree strong,
.tooltip-tree p {
  background: none;
  color: #28282B;
}

#treemap-os {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  margin: 100px 0 50px 0;
}

.yearselect {
  display: flex;
  justify-content: center;
  gap: 5px;
}

#treemap {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.tree-text {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #28282B;
  max-width: 1200px;
  margin: 25px auto;
  border: #28282B 2px solid;
  border-radius: 5px;
  padding: 15px;
}
#legend {
  margin-top: 10px;
  font-family: Montserrat, sans-serif;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 14px;
}

.legend-item::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 8px;
  border-radius: 2px;
}

.legend-item.eksport::before {
  background-color: #27ae60;
}

.legend-item.import::before {
  background-color: #c0392b;
}
